@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }

}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  top: 61;
  left: 0;
}


#progressBar {
  background: linear-gradient(to left, red, violet);
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 5px;
}

.navbar {
  transition: height .5s;
}


#rfs-btn {
  border: none;
  top: 9px;
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#nprogress .spinner-icon {
  display: none;
}


.ql-editor img {
  margin: auto;
}

.marquee {
  overflow: hidden;
}

.brandsimages img {
  height: 45px;
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  /* filter: gray; /* IE5+ */
  /* -webkit-filter: brightness(0) invert(1); /* Webkit Nightlies & Chrome Canary */
  /* -webkit-transition: all 0.5s ease-in-out;  */
  margin-left: 20px;
  margin-right: 20px;
}

.brandsimages img:hover {
  filter: none;
  -webkit-filter: none;
  -webkit-transform: scale(1.04);

}

.react-multiple-carousel__arrow {
  z-index: 17;
}


.react-tel-input .form-control {
  width: 100%;
}

.review-slider .react-multi-carousel-list .react-multiple-carousel__arrow {
  display: none;
}

.commonBtn {
  /* background-color: #629DF5; */
  box-shadow: 6px 6px 4px 1px #00000040;
}

.postResultBg {
  background: linear-gradient(0deg, #2EE3F9 0%, rgba(46, 227, 249, 0.1) 100%);
}

.platFormExpert {
  background: linear-gradient(180deg, #2EE3F9 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 15px 1px #00000040;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gtm .bttn {
  box-shadow: 6px 6px 4px 1px rgba(0, 0, 0, 0.25);
}

.gtm .form {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.gtm .case {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.gtm input::placeholder {
  color: #D6D6D6;
}

.gtm textarea::placeholder {
  color: #D6D6D6;
}

.gtm .faQ input::placeholder {
  color: #202020;
}

.gtm .head {
  text-align: -webkit-center;
}

.gtm .ad {
  background-color: #DFEBFF;
}

.subheader {
  top: 50px;
}

.trainingbtn {
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.analyticsauditaudit li {
  background-image: url(https://storage.googleapis.com/website-bucket-uploads/static/Audit-arrow.png);
}

.slick-slide {
  height: 60px;
}

.home {
  background-image: url(../public/dv-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.innerglobl {
  background-image: url(../public/Frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .navbr {
  position: absolute;
  top: 0;
} */

/* GTM NEW PAGE CSS */
#sticky-section {
  position: relative; /* Start as relative */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

#sticky-section.sticky {
  position:sticky;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
}

.gtmbutn {
  @apply relative overflow-hidden z-10 bg-white text-[#0D8CA4] hover:text-white cursor-pointer inline px-[40px] mb-3 transition-all duration-500 ease-linear shadow-foter rounded-md py-3 text-base font-medium
}
.gtmbutn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: rgb(244, 239, 239);
  transition: all 0.3s linear;
}

.gtmbutn:hover::before {
  background: #0D8CA4;
  color: white;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

.gtmbutn1 {
@apply relative overflow-hidden z-10 bg-[#0D8CA4] text-white hover:text-[#0D8CA4] cursor-pointer inline px-[40px] mb-3 transition-all duration-500 ease-linear shadow-foter rounded-md py-2.5 text-base font-medium
}
.gtmbutn1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: rgb(244, 239, 239);
  transition: all 0.3s linear;
}

.gtmbutn1:hover::before {
  background: white;
  color: #0D8CA4;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

.gtmbutn2 {
  @apply relative overflow-hidden z-10 bg-[#0D8CA4] text-white cursor-pointer transition-all duration-500 ease-linear shadow-foter py-2
}
.gtmbutn2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: #0D8CA4;
  transition: all 0.3s linear;
}

.gtmbutn2:hover::before {
  background: #38bdf8;
  /* color: #0d8ca4; */
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}


.gtmbutn3 {
  @apply relative overflow-hidden z-10 bg-white text-[#0D8CA4] hover:text-white cursor-pointer transition-all duration-500 ease-linear shadow-foter py-2
}
.gtmbutn3::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: #0D8CA4;
  transition: all 0.3s linear;
}

.gtmbutn3:hover::before {
  /* background: #1a744a; */
  background: #107777;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking {
  animation: blink 1s linear infinite;
}


.gtmbutn4 {
  @apply relative overflow-hidden z-10 bg-[#0D8CA4] text-white hover:text-[#0D8CA4] cursor-pointer transition-all duration-500 ease-linear shadow-foter py-2
}
.gtmbutn4::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: #0D8CA4;
  transition: all 0.3s linear;
}

.gtmbutn4:hover::before {
  background: white;
  color: #0d8ca4;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

.slick-slide {
  padding: 0 10px; /* Adjust as needed for spacing */
  height: 230px; /* Fixed height */
  width: 380px;  /* Fixed width */
  padding: 10px;
}
.slick-list {
  margin: 0 -10px; /* Negative margin to offset padding */
}

/* Custom styling for the dots within the specific carousel */
.carousel-custom .slick-dots {
  bottom: -40px; /* Adjust the position of the dots */
}

.carousel-custom .slick-dots li {
  margin: 0 5px; /* Spacing between dots */
}

.carousel-custom .slick-dots li button:before {
  font-size: 14px; /* Increase the size of the dots */
  color: #ccc; /* Default color of dots */
  opacity: 1; /* Ensure the dots are visible */
}

.carousel-custom .slick-dots li.slick-active button:before {
  color: #333; /* Color of the active dot */
  opacity: 1; /* Ensure the active dot is fully visible */
}

.carousel-custom .slick-dots li button {
  width: 10px; /* Adjust width of the dots */
  height: 10px; /* Adjust height of the dots */
}

.carousel-custom .slick-dots li button:before {
  content: ''; /* Remove the default text content */
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 50%; /* Make the dots rounded */
  background-color: #ccc; /* Default background color of the dots */
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.carousel-custom .slick-dots li.slick-active button:before {
  background-color: #333; /* Background color of the active dot */
}


/* Homepage btn-css */
.butn {
  @apply relative overflow-hidden z-10 bg-homepagebtn text-[#fff] border border-homepagebtn cursor-pointer text-[15px] font-medium not-italic inline rounded-[14px] py-[15px] px-[40px] mb-3 transition-all duration-300 ease-linear hover:text-homepagebtn shadow-foter
}

.ftbutn {
  @apply relative overflow-hidden z-10 text-[11px] font-normal px-5 py-4 not-italic inline rounded-[14px] mb-3 transition-all duration-300 ease-linear hover:text-homepagebtn shadow-foter text-white border border-[#ffffff69] cursor-pointer mt-4
}

.butn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: rgb(244, 239, 239);
  transition: all 0.3s linear;
}

.butn:hover::before {
  background: #fff;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

.ftbutn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: rgba(244, 239, 239, 0.027);
  transition: all 0.3s linear;
}

.ftbutn:hover::before {
  background: #fff;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

/* Homepage header-css */
.hoverable:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.hoverable:hover .down {
  visibility: hidden;
}

iframe {
  height: inherit;
}

/* Homepage Back-Ground design-css */
.bgd {
  background: radial-gradient(51.33% 51.33% at 61.62% 50%, #5273A3 0%, rgba(178, 184, 193, 0.00) 100%);
}

.bgd2 {
  background: radial-gradient(51.33% 51.33% at 61.62% 50%, #66E1FC 0%, rgba(178, 184, 193, 0.00) 100%);
}

.powerup {
  background-color: #000000;
}

.powerup:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 600px;
  height: 365px;
  bottom: 30%;
  left: -10%;
  opacity: .5;
  background: linear-gradient(252.93deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
  transform: rotate(-21.23deg);
}

.powerup:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 435px;
  opacity: .4;
  top: 0%;
  transform: rotate(-50.41deg);
  bottom: 10%;
  right: -25%;
  background: linear-gradient(252.93deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
}

.powerbox {
  background: rgba(19, 19, 20, .7);
  box-shadow: 0px 4px 20px -5px rgba(8, 52, 82, .12), 0px 20px 30px rgba(8, 52, 82, .08);
}

.powerbox:hover .inbox:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: -15px;
  opacity: .44;
  border-radius: 50%;
  background: linear-gradient(267.31deg, #15c474 -22.87%, #0092f4 41.07%, #d054ce 107.64%);
  filter: blur(28.5px);
  will-change: filter;
  transition: opacity .2s ease-in-out;
}

.homeftr {
  background-color: #252526;
}

.homeftr:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: linear-gradient(310deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 75.86%);
  opacity: .8;
}

.homeftr:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, #ff4800 0%, #d054bc 26.56%, #0092f4 54.69%, #0092f4 54.7%, #15c474 100%);
}

.inrhomeftr:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 365px;
  left: 0;
  top: -95px;
  opacity: .5;
  background: linear-gradient(190deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
  transform: rotate(-21.23deg);
}

.inrhomeftr:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 435px;
  opacity: .4;
  transform: rotate(-50.41deg);
  bottom: 20%;
  right: 0;
  background: linear-gradient(108deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
}

.vb .slick-prev,
.vb .slick-next {
  display: none !important;
}


/* Homepage testimonials-css */

.main-title-testimonial {
  background: linear-gradient(to top, #5709d4, #b5c1d1);
}

.right-testimonial-item .slick-prev,
.right-testimonial-item .slick-next {
  top: 40% !important;
}

.right-testimonial-item .slick-prev:before,
.right-testimonial-item .slick-next:before {
  font-size: 30px !important;
}

.testimonials .slick-dots li {
  display: none !important;
}

[data-role="none"] {
  display: none;
}


/* Homepage marquee-css */
.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  --pause-on-hover: paused;
  --pause-on-click: paused;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  animation: slide 50s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 2s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.home-blog3 {
  background: linear-gradient(to top, #8d5dd9, #b5c1d1);
}

.home-casestd3 {
  background: linear-gradient(to top, #8d5dd9, #b5c1d1);
}

/* homepage datepicker css */
.react-datepicker__time-container {
  width: 90px !important;
  /* margin: 0 !important; */
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100% !important;
}


@media (min-width: 1024px) and (max-width: 1064px) {
  .firstcasestdy {
    height: 306px;
  }
}

.prograhome::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -18%;
  transform: rotate(23deg);
  background-image: radial-gradient(20vw 15vh at 35% 13%, #cde2f8 25%, transparent 100%), radial-gradient(20vw 20vh at 43% 21%, #aff6d0 45%, transparent 100%), radial-gradient(9vmin 10vmin at 75% 33%, #e8caff 0%, transparent 100%);
}

.prograhome::before {
  content: '';
  display: block;
  border-radius: 50%;
  transform: rotate(71deg) translate(50%, 15%);
  position: absolute;
  z-index: 0;
  height: 40%;
  top: -74px;
  left: 24%;
  width: 35%;
  background-image: radial-gradient(50% 50% at center, #aff6d0, transparent);
}

.progracasestudy::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .9;
  background-image: radial-gradient(at 9% 72%, #1fff8434 0, rgba(35, 6, 55, 0) 50%);
}

.prograblog::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: rotate(1deg);
  opacity: .6;
  background-image: radial-gradient(at 69% 20%, #ec1fff2a 0, rgba(35, 6, 55, 0) 50%);
}

.programeasurement::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: .5;
  background-image: url(../public/Mesh-Grad-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-blog3 {
  background: linear-gradient(to top, #8d5dd9, #b5c1d1);
}

.home-casestd3 {
  background: linear-gradient(to top, #8d5dd9, #b5c1d1);
}

.prograchoose::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(../public/footerBGBackground-1.webp);
  opacity: .9;
  background-repeat: no-repeat;
  background-size: cover;
}

.programeasurement::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(../public/footerBGBackground-1.webp);
  opacity: .9;
  background-repeat: no-repeat;
  background-size: cover;
}

.approach::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #26004d;
  background-image: radial-gradient(at 69% 69%, #ffc31f 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 43% 46%, #575cfc 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 31% 89%, #f366e0 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 56% 26%, #7e33d5 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 62% 9%, #4b0e75 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 51% 44%, #7e33d5, rgba(35, 6, 55, 0) 50%), radial-gradient(at 89% 57%, #f366e0 0, rgba(35, 6, 55, 0) 50%);
}

.ourcom::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .9;
  background-image: radial-gradient(at 9% 72%, #1fff8434 0, rgba(35, 6, 55, 0) 50%);
}

.progracont {
  background-color: transparent;
  background-image: linear-gradient(60deg, #3d155e 0%, #de668a 100%);
}

/* // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // */

/* Servicepage css */
.progracasestudy::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .9;
  background-image: radial-gradient(at 9% 72%, #1fff8434 0, rgba(35, 6, 55, 0) 50%);
}

.programeasurement::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: .5;
  background-image: url(../public/Mesh-Grad-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .whydv360 {
  background: linear-gradient(272.36deg, #8d5dd9, #8ab9ff);
} */

.approach::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #26004d;
  background-image: radial-gradient(at 69% 69%, #ffc31f 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 43% 46%, #575cfc 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 31% 89%, #f366e0 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 56% 26%, #7e33d5 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 62% 9%, #4b0e75 0, rgba(35, 6, 55, 0) 50%), radial-gradient(at 51% 44%, #7e33d5, rgba(35, 6, 55, 0) 50%), radial-gradient(at 89% 57%, #f366e0 0, rgba(35, 6, 55, 0) 50%);
}

.marquee-containers {
  height: 100%;
  width: 100%;
  position: relative;
}

.marquee-containers>div {
  animation: marquees 15s linear infinite;
}

@keyframes marquees {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.marquee-containers2 {
  height: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 1024px) and (max-width: 1279px) {

  .marquee-containers,
  .marquee-containers2 {
    width: 65%;
  }
}

.marquee-containers2>div {
  animation: marquees2 15s linear infinite;
}

@keyframes marquees2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.webapphome::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -18%;
  transform: rotate(23deg);
  background-image: radial-gradient(50% 50% at center, #9532e64d, transparent);
}

.webapphome::before {
  content: '';
  display: block;
  border-radius: 50%;
  transform: rotate(318deg) translate(50%, 15%);
  position: absolute;
  z-index: 0;
  height: 40%;
  top: 50%;
  right: 20%;
  width: 35%;
  background-image: radial-gradient(20vw 15vh at 35% 13%, #cde2f8 25%, transparent 100%), radial-gradient(20vw 20vh at 43% 21%, #aff6d0 45%, transparent 100%), radial-gradient(9vmin 10vmin at 75% 33%, #e8caff 0%, transparent 100%);
}

/* .wepappour::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(../public/footerBGBackground-1.webp); */
/* background-image: radial-gradient(at 9% 72%, #b997f0e6 0, rgb(35 6 55 / 63%) 50%); */
/* background-image: radial-gradient(at 9% 72%, #8d5dd987 0, #0a34d933 50%); */
/* background: linear-gradient(to top, #8d5dd9, #aff6d054); */
/* opacity: .9;
  background-repeat: no-repeat;
  background-size: cover;
} */
.webbox {
  background: #30486a00;
  box-shadow: 0px 4px 20px -5px rgba(8, 52, 82, .12), 0px 20px 30px rgba(8, 52, 82, .08);
}

.webbox .ourcom::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: .9;
  background-image: radial-gradient(at 33% 75%, #d054ce6b 0, rgb(35 6 55 / 44%) 50%);
}

.webbox:hover .inbox:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: -15px;
  opacity: .44;
  border-radius: 50%;
  background: linear-gradient(267.31deg, #15c474 -22.87%, #0092f4 41.07%, #d054ce 107.64%);
  filter: blur(28.5px);
  will-change: filter;
  transition: opacity .2s ease-in-out;
}

.webomphen {
  background-color: #252526;
}

.webomphen:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: linear-gradient(310deg, #de668a54 0%, #30486a 75.86%);
  opacity: .8;
}

.webomphen:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(90deg, #ff4800 0%, #d054bc 26.56%, #0092f4 54.69%, #0092f4 54.7%, #15c474 100%);
}

.inrinrwebomphen:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 365px;
  left: 0;
  top: -95px;
  opacity: .5;
  background: linear-gradient(190deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
  transform: rotate(-21.23deg);
}

.inrinrwebomphen:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 435px;
  opacity: .4;
  transform: rotate(-50.41deg);
  bottom: 20%;
  right: 0;
  background: linear-gradient(108deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
}

.webappbenefit::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 600px;
  height: 365px;
  bottom: 30%;
  left: -10%;
  opacity: .5;
  background: linear-gradient(252.93deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
  transform: rotate(-21.23deg);
}


/* // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // */

/* DV360 Page css */
.home {
  background-image: url(../public/dv-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.innerglobl {
  background-image: url(../public/Frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  --pause-on-hover: paused;
  --pause-on-click: paused;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 10s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.discuss,
.advertising,
.contact-footer {
  background-image: url(../public/dv-ads.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.clients .slick-slider .slick-next,
.leaders .slick-slider .slick-next,
.casestudy .slick-slider .slick-next,
.services .slick-slider .slick-next,
.buypremium .slick-slider .slick-next,
.targeting .slick-slider .slick-next {
  display: none !important;
  right: 0 !important;
}

.clients .slick-slider .slick-prev,
.leaders .slick-slider .slick-prev,
.casestudy .slick-slider .slick-prev,
.services .slick-slider .slick-prev,
.buypremium .slick-slider .slick-prev,
.targeting .slick-slider .slick-prev {
  display: none !important;
  left: 0 !important;
}

/* .slick-slider .slick-next {
  display: none !important;
  right: 0 !important;
}

.slick-slider .slick-prev {
  display: none !important;
  left: 0 !important;
} */

[data-role="none"] {
  display: none;
}

.firstbg {
  background-image: url(../public/BG\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}

.testi {
  display: flex !important;
}

.casestd {
  display: flex !important;
}

/* // // // // // CRO PAGE CSS // // // // //  */
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('/path_to_gilroy_semi_bold.woff2') format('woff2'),
    url('/path_to_gilroy_semi_bold.woff') format('woff');
  /* Add other font formats if needed */
}

.crohome::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 90%;
  top: 0;
  left: 0;
  transform: rotate(103deg);
  background-image: radial-gradient(20vw 15vh at 35% 13%, #cde2f8 25%, transparent 100%), radial-gradient(20vw 20vh at 43% 21%, #d054ce85 45%, transparent 100%), radial-gradient(9vmin 10vmin at 75% 33%, #e8caff 0%, transparent 100%);
}

/* .csworkflo .slick-next {
  right: -25px;
  top: -45px !important;
}
.csworkflo .slick-prev {
  right: 15px !important;
  top: -45px !important;
  left: unset;
}
.csworkflo .slick-prev:before, .csworkflo .slick-next:before {
  font-size: 35px !important;
} */

.cswebbox:hover .inbox:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 0;
  opacity: .44;
  border-radius: 50%;
  background: linear-gradient(267.31deg, #15c474 -22.87%, #0092f4 41.07%, #d054ce 107.64%);
  filter: blur(28.5px);
  will-change: filter;
  transition: opacity .2s ease-in-out;
}

/* DV360 page slider-css */

.clients .slick-dots,
.leaders .slick-dots,
.casestudy .slick-dots,
.services .slick-dots,
.buypremium .slick-dots,
.targeting .slick-dots {
  bottom: -40px !important;
  padding: 10px !important;
}

.clients .slick-dots li,
.leaders .slick-dots li,
.casestudy .slick-dots li,
.services .slick-dots li,
.buypremium .slick-dots li,
.targeting .slick-dots li {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid grey;
  border-radius: 100%;
  transition: all 0.5s linear;
}

.clients .slick-dots .slick-active,
.leaders .slick-dots .slick-active,
.casestudy .slick-dots .slick-active,
.services .slick-dots .slick-active,
.buypremium .slick-dots .slick-active,
.targeting .slick-dots .slick-active {
  background-color: #080808;
}

.clients .slick-dots li button:before,
.leaders .slick-dots li button:before,
.casestudy .slick-dots li button:before,
.services .slick-dots li button:before,
.buypremium .slick-dots li button:before,
.targeting .slick-dots li button:before {
  content: '' !important;
}

/* .slick-dots .slick-active {
  background-color: #080808;
} */

/* .slick-dots li button:before {
  content: '' !important;
} */


.castdyMain {
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4));
}

.castdyMain .first:hover {
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4));
}

.castdyMainslidr .slick-prev,
.castdyMainslidr .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #a20336 !important;
}

.castdyMainslidr .slick-prev:before,
.castdyMainslidr .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #007bb6 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.castdyMainslidr .slick-next {
  right: -25px !important;
}

.castdyMainslidr .slick-prev {
  left: -25px !important;
}

.castdynewbnner::after {
  content: '';
  position: absolute;
  width: 100%;
  right: 0;
  height: 101%;
  bottom: 0;
  opacity: .1;
  background-image: url(../public/Case_study_bg_1.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.castdynewcontct {
  background-color: transparent;
  background-image: linear-gradient(60deg, #3d155e, #de668a);
}

.sample {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sample .react-tel-input .form-control {
  height: 50px !important;
  width: 100% !important;
  padding-top: 5px;
}

.sample .react-tel-input .flag-dropdown {
  background-color: #fff !important;
  border-right: 0 !important;
  padding-top: 5px;
}

#hubspot-messages-iframe-container {
  display: none;
}

.innerfuel ul::before {
  content: '';
  position: absolute;
  top: 12%;
  right: 49%;
  height: 120%;
  border-left: 1px solid #007bb6;
}

.innerfuel ul:nth-child(4)::before {
  top: 0;
}

.innerfuel ul::after {
  content: '';
  position: absolute;
  top: 19px;
  right: 47%;
  height: 50px;
  width: 50px;
  background-color: #007bb6;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerfuel ul:nth-child(1):after {
  content: '1';
}

.innerfuel ul:nth-child(2):after {
  content: '2';
}

.innerfuel ul:nth-child(3):after {
  content: '3';
}

.innerfuel ul:nth-child(4):after {
  content: '4';
}

.innerfuel ul:nth-child(5):after {
  content: '5';
}

.innerfuel ul:nth-child(6):after {
  content: '6';
}

.innerfuel ul:nth-child(7):after {
  content: '7';
}

@media only screen and (max-width: 768px) {
  .innerfuel ul::before {
    display: none;
  }
}

.popup {
  height: calc(100% - 0px);
}

.pwb {
  box-shadow: 0px 4px 20px -5px rgba(8, 52, 82, .12), 0px 20px 30px rgba(8, 52, 82, .08);
}

.aboutus {
  font-size: clamp(28.836px, 1.802rem + ((1vw - 3.2px) * 2.49), 32px);
  line-height: 1.3;
}
.abtactive {
  background-color: cadetblue;
  color: white;
}