@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }

}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255,255,255,0.05);
  width: 100%;
  top: 61;
  left: 0;
}


#progressBar {
  background: linear-gradient(to left, red, violet);
  transform-origin: top left;
  transform: scale(0,0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 5px;
}

.navbar{
  transition: height .5s;
}


#rfs-btn{
  border: none;
  top: 9px;
    position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#nprogress .spinner-icon{
  display:none;
}


.ql-editor img{
  margin:auto;
}
.marquee{
  overflow: hidden;
}
.brandsimages img{
  height: 50px;
      /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
     /* filter: gray; /* IE5+ */
     /* -webkit-filter: brightness(0) invert(1); /* Webkit Nightlies & Chrome Canary */
     /* -webkit-transition: all 0.5s ease-in-out;  */
      margin-left: 20px;
      margin-right: 20px;
}

.brandsimages img:hover {
  filter: none;
    -webkit-filter: none;
    -webkit-transform: scale(1.04);

  }
.react-multiple-carousel__arrow{
  z-index: 17;
}
 

.react-tel-input .form-control{
  width: 100%;
}

.review-slider .react-multi-carousel-list .react-multiple-carousel__arrow{
  display:none;
}

.commonBtn {
  /* background-color: #629DF5; */
  box-shadow: 6px 6px 4px 1px #00000040;
}

.postResultBg {
  background: linear-gradient(0deg, #2EE3F9 0%, rgba(46, 227, 249, 0.1) 100%);
}

.platFormExpert {
  background: linear-gradient(180deg, #2EE3F9 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 15px 1px #00000040;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gtm .bttn{
  box-shadow: 6px 6px 4px 1px rgba(0, 0, 0, 0.25);
}
.gtm .form{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.gtm .case{
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.gtm input::placeholder {
  color: #D6D6D6;
}
.gtm textarea::placeholder {
  color: #D6D6D6;
}
.gtm .faQ input::placeholder {
  color: #202020;
}
.gtm .head{
  text-align: -webkit-center;
}
.gtm .ad{
  background-color: #DFEBFF;
}
.subheader{
  top: 50px;
}

.trainingbtn{
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.analyticsauditaudit li{
  background-image: url(https://storage.googleapis.com/website-bucket-uploads/static/Audit-arrow.png);
}

.slick-slide{
  height: 60px;
}

.home {
  background-image: url(../public/dv-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.innerglobl{
  background-image: url(../public/Frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .navbr {
  position: absolute;
  top: 0;
} */
/* Homepage btn-css */
.butn {
  @apply relative overflow-hidden z-10 bg-homepagebtn text-[#fff] border border-homepagebtn cursor-pointer text-[15px] font-medium not-italic inline rounded-[14px] py-[15px] px-[40px] mb-3 transition-all duration-300 ease-linear hover:text-homepagebtn shadow-foter
}

.ftbutn {
  @apply relative overflow-hidden z-10 text-[11px] font-normal px-5 py-4 not-italic inline rounded-[14px] mb-3 transition-all duration-300 ease-linear hover:text-homepagebtn shadow-foter  text-white border border-[#ffffff69] cursor-pointer mt-4
}

.butn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: rgb(244, 239, 239);
  transition: all 0.3s linear;
}

.butn:hover::before {
  background: #fff;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

.ftbutn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  right: 0px;
  top: 0;
  left: 0px;
  transform: translateY(-85px);
  background: rgba(244, 239, 239, 0.027);
  transition: all 0.3s linear;
}

.ftbutn:hover::before {
  background: #fff;
  transform: translate(0);
  transition: all 0.3s linear;
  z-index: -1;
}

/* Homepage header-css */
.hoverable:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.hoverable:hover .down {
  visibility: hidden;
}

iframe {
  height: inherit;
}

/* Homepage Back-Ground design-css */
.bgd {
  background: radial-gradient(51.33% 51.33% at 61.62% 50%, #5273A3 0%, rgba(178, 184, 193, 0.00) 100%);
}

.bgd2 {
  background: radial-gradient(51.33% 51.33% at 61.62% 50%, #66E1FC 0%, rgba(178, 184, 193, 0.00) 100%);
}

.powerup {
  background-color: #000000;
}
.powerup:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 600px;
  height: 365px;
  bottom: 30%;
  left: -10%;
  opacity: .5;
  background: linear-gradient(252.93deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
  transform: rotate(-21.23deg);
}

.powerup:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 435px;
  opacity: .4;
  top: 0%;
  transform: rotate(-50.41deg);
  bottom: 10%;
  right: -25%;
  background: linear-gradient(252.93deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
}

.powerbox {
 background: rgba(19, 19, 20, .7);
 box-shadow: 0px 4px 20px -5px rgba(8,52,82,.12), 0px 20px 30px rgba(8,52,82,.08);
}
.powerbox:hover .inbox:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: -15px;
  opacity: .44;
  border-radius: 50%;
  background: linear-gradient(267.31deg, #15c474 -22.87%, #0092f4 41.07%, #d054ce 107.64%);
  filter: blur(28.5px);
  will-change: filter;
  transition: opacity .2s ease-in-out;
}

.homeftr {
  background-color: #252526;
}

.homeftr:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: linear-gradient(310deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 75.86%);
  opacity: .8;
}

.homeftr:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, #ff4800 0%, #d054bc 26.56%, #0092f4 54.69%, #0092f4 54.7%, #15c474 100%);
}

.inrhomeftr:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 365px;
  left: 0;
  top: -95px;
  opacity: .5;
  background: linear-gradient(190deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
  transform: rotate(-21.23deg);
}

.inrhomeftr:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 435px;
  opacity: .4;
  transform: rotate(-50.41deg);
  bottom: 20%;
  right: 0;
  background: linear-gradient(108deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
  filter: blur(142.5px);
  -webkit-filter: blur(142.5px);
  will-change: filter;
}

/* Homepage testimonials-css */

.testimonials h2 {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.testimonials .slick-dots {
  bottom: -40px !important;
}

@media (min-width: 988px) {
  .testimonials .slick-dots {
    bottom: -57px !important;
  }
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.testimonials .slick-dots li {
  border: 2px solid grey;
  border-radius: 100%;
  transition: all 0.5s linear;
}

.testimonials .slick-dots .slick-active {
  background-color: #080808;
}

.testimonials .slick-dots li button:before {
  content: '' !important;
}


[data-role="none"] {
  display: none;
}


/* Homepage marquee-css */
.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  --pause-on-hover: paused;
  --pause-on-click: paused;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  animation: slide 50s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 2s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* homepage datepicker css */
.react-datepicker__time-container {
  width: 90px !important;
  /* margin: 0 !important; */
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100% !important;
}


@media (min-width: 1024px) and (max-width: 1064px) {
    .firstcasestdy{
    height: 306px; /* Height for viewport range 1024px to 1064px */
  }
}

/* // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // */

/* DV360 Page css */
.home {
  background-image: url(../public/dv-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.innerglobl{
  background-image: url(../public/Frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  --pause-on-hover: paused;
  --pause-on-click: paused;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 10s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.discuss , .advertising , .contact-footer {
  background-image: url(../public/dv-ads.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-slider .slick-next {
  display: none !important;
  right: 0 !important;
}

.slick-slider .slick-prev {
  display: none !important;
  left: 0 !important;
}

[data-role="none"] {
  display: none;
}

.firstbg {
  background-image: url(../public/BG\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}

.testi {
  display: flex !important;
}
.casestd {
  display: flex !important;
}

/* DV360 page slider-css */

.clients .slick-dots , .leaders .slick-dots , .casestudy .slick-dots , .services .slick-dots , .buypremium .slick-dots , .targeting .slick-dots {
  bottom: -40px !important;
  padding: 10px !important;
}
.clients .slick-dots li , .leaders .slick-dots li , .casestudy .slick-dots li , .services .slick-dots li , .buypremium .slick-dots li , .targeting .slick-dots li {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid grey;
  border-radius: 100%;
  transition: all 0.5s linear;
}

.slick-dots .slick-active {
  background-color: #080808;
}

.slick-dots li button:before {
  content: '' !important;
}